.timer_1 {
    margin: 5px 5px;
    display: inline;
}

.timer_2 {
    margin: 5px 5px;
    display: inline;
}

.display_1 {
    
}

.control_set_1 {

}

.display_2 {

}

.control_set_2 {

}